<div class="extension-content-item box-container flexFlowColumn" style="align-items: flex-start">
  <div class="flex-container spaceBetween alignItemsCenter width100p">
    <div class="flex flexFlowColumn">
      <div class="settings-title-text">token 数过多提醒</div>
      <div class="settings-title-description">填写 0 来禁用此功能</div>
    </div>
    <div class="input-number-wrapper">
      <input type="number" id="overtoken-notifier-threshold" class="input-number" min="0" value="0" />
      <span>k</span>
    </div>
  </div>
</div>
