<div id="variable-editor" class="flex-container flexFlowColumn alignItemsCenter height100p overflowYAuto">
  <div class="flex flexFlowColumn alignItemsCenter">
    <h3 class="flex-container alignItemsCenter">局部脚本变量编辑</h3>
    <small>与角色卡一同导出的变量，需配合getScopeVariable使用</small>
  </div>
  <div id="script-button-content" class="script-editor-container">
    <div class="flex-container alignItemsCenter justifyContentCenter marginBot10">
      <h4>变量列表</h4>
      <div class="menu_button interactable" id="add-variable-trigger">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
    <div id="variable-list" class="flex-container flexFlowColumn width100p" style="gap: 20px;"></div>
  </div>
</div>
